{% extends "webgallery/index.html" %}
{% block content %}
<!-- THUMBNAIL -->

<div ng-controller="galleryController as galleryController">
    <div id="thumbnail">
        <div class="thumbnailPic" ng-repeat="n in galleryController.thumbnail" ng-if="n >= 0 && n<galleryController.imageData.length" >

            <div class="img_box"><img ng-src="{$ galleryController.imageData[n].fields.imageUrl $}" alt="Flower1" ng-click = "galleryController.viewImage($index)">  </div>

        </div>
    </div>
    <br><br><br><br>

    <!-- DISPLAY -->

    <div  id= "display" class="displayPic" ng-init = "galleryController.init_canvas()" ng-show = "galleryController.displayShow"  >
        <div class = "imageTitle"> {$ galleryController.imageData[galleryController.current_index].fields.imageTitle $}</div>
        <div id="nav_overlay" ng-show ="galleryController.showLeftRight" >
            <div class="nav_button" id="nav_left" ng-click = "galleryController.moveLeft()"></div>
            <div class="nav_button" id="nav_right" ng-click = "galleryController.moveRight()"></div>
        </div>

        <canvas id= "canvasTry" class="img_large" width="800" height="600" style="background: url('{$galleryController.imageData[galleryController.current_index].fields.imageUrl$}'); background-size: cover;"  />

        <a class = "ImageSource">{$ galleryController.imageData[galleryController.current_index].fields.imageSource $}</a>
    </div>

    <div><button id ="editButton" ng-click = "galleryController.editImage()" ng-show = "galleryController.showEditButton"> Draw on the image </button></div>
    <div><button id="deleteImage" ng-click ="galleryController.deleteImage()" ng-show = "galleryController.showEditButton">Delete this image</button></div>
    <div><button id ="backButton" ng-click ="galleryController.backEdit()" ng-show = "galleryController.backEditButton"> Exit from edit mode </button></div>

    <div id="drawing"  ng-show = "galleryController.showButton">
        <button id="erase" ng-click = "galleryController.erase()">Erase</button> <br>

            <button id="yellowcolour" ng-click = "galleryController.changeToYellow()"> Yellow </button> <br>
            <button id="redcolour" ng-click = "galleryController.changeToRed()"> Red </button> <br>

    </div>

    <form name = "addComment" class="complex_form" id="add_comment_form" ng-submit="galleryController.addComment()">

        <div class="form_title">Add a Comment</div>
        <input type="text" required id="form_comment_content" class="form_element" placeholder="Enter the comment" maxlength = "500" ng-model="galleryController.newComment.commentContent" />
        <input type="submit" class="btn" value="Add"/>

    </form>

    <div id = "comments">
        <h3>Comments</h3>
        <div class = "comment_itself"  ng-repeat = "c in galleryController.commentData">
            <div class = "user">{$ c.fields.commentName $}  </div>
            <div class = "date">{$ c.fields.commentDate $} </div>
            <div class = "comment_full"> {$c.fields.commentContent$}   </div>
            <div id="cross_button" ng-click = "galleryController.deleteComment($index)"></div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <a href = "/logout" > Logout   </a>
    <br>

    <a href = "/" > Go Back to list of users </a>

</div>
{% endblock %}